@model WebApplication.ViewModels.Home.ProfileVM
@{
    ViewBag.Title = "EditProfile";
}

<h2>Edit Profile</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "Error occured while editing  account", new { @class = "text-danger" })
<table style=" float:left">
    <tr>
        <td>
            @Html.LabelFor(m => m.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @Value = @Model.FirstName, @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @Value = @Model.LastName, @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(m => m.City, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.EditorFor(m => m.City, new { htmlAttributes = new { @class = "form-control", placeholder = "City" } })
            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Zipcode, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.EditorFor(m => m.Zipcode, new { htmlAttributes = new { @class = "form-control", placeholder = "Zipcode" } })
            @Html.ValidationMessageFor(m => m.Zipcode, "", new { @class = "text-danger" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Address, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                <div>
                    <input type="submit" value="Edit profile" class="btn btn-search" />
                </div>
            </div>
        </td>
    </tr>
</table>

    

}