@model WebApplication.ViewModels.Home.RoomSearchVM
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm())
{

    @Html.LabelFor(m => m.AccomodationDate)
    <br />
    @Html.EditorFor(m => m.AccomodationDate, new { @class = "datepicker form-control", @placeholder = "Enter accomodation date" })
    @Html.ValidationMessageFor(model => model.AccomodationDate, "", new { @class = "text-danger" })
    <br /><br />
    @Html.LabelFor(m => m.CheckOutDate)
    <br />
    @Html.EditorFor(m => m.CheckOutDate, new { @class = "datepicker form-control", @placeholder = "Enter checkout date" })
    @Html.ValidationMessageFor(model => model.CheckOutDate, "", new { @class = "text-danger" })
    <br /><br />
    @Html.LabelFor(m => m.NumberOfGuests)
    <br />
    @Html.EditorFor(m => m.NumberOfGuests, new { @class = "form-control", @placeholder = "Number of guests" })
    <br />
    @Html.LabelFor(m => m.RoomSize)
    <br />
    @Html.EditorFor(m => m.RoomSize, new { @class = "form-control", @placeholder = "Enter minimal room size" })
    <br /><br />
    @Html.DropDownListFor(m => m.SelectedAmenityIds,
        Model.AmenitiesToSearch.Select(ats => new SelectListItem {Text = ats.AmenityName, Value = ats.AmenityId.ToString() }),
        new {@class = "form-control chosen-select", @multiple = true, @placeholder = "Select amenities"})

    <input type="submit" value="Search" />
    <table class="table">
        <tr>
            <th>
                Room Number
            </th>
            <th>
                Cost
            </th>
            <th>
                Amenities
            </th>
            <th>
                Max. Guests
            </th>
            <th>
                Room size
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model.FoundRooms)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Amenities)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxNumberOfGuests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomSize)
                </td>
                <td>
                    @Html.ActionLink("Make reservation", "MakeReservation", new { roomId = item.RoomNumber, accomodationDate = Model.AccomodationDate, checkOutDate = Model.CheckOutDate })
                </td>
            </tr>
        }

    </table>
}

<script>
    $(document).ready(function () {

        $(".chosen-select").chosen({
            'no_results_text': 'Oops, nothing found!',
            'width': '700px',
            'search_contains': true,
            'placeholder_text_multiple': 'Select amenities ...',
            'display_selected_options': false
        });

        $(function () {
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                showOn: "both",
            });
        })
    }());
</script>

