@model WebApplication.ViewModels.Home.ProfileVM
@{
    ViewBag.Title = "MyProfile";
}

<h2>My Profile</h2>

<table style=" float:left">
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.FirstName): @Html.DisplayFor(m => m.FirstName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.Email): @Html.DisplayFor(m => m.Email)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.City): @Html.DisplayFor(m => m.City)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.Zipcode): @Html.DisplayFor(m => m.Zipcode)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(m => m.Address): @Html.DisplayFor(m => m.Address)
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <div>
                <center>
                    <button value="Edit" name="button" type="submit" class="btn btn-search" onclick='window.location = "@Url.Action("EditProfile", "Home")"'>Edit profile</button>
                </center>
            </div>
        </td>

        <td>
            <div>
                <center>
                    <button value="ChangePassword" name="button" type="submit" class="btn btn-search" onclick='window.location = "@Url.Action("ChangePassword", "Home")"'>Change password</button>
                </center>
            </div>
        </td>

        <td>
            <div>
                <center>
                    <button value="Delete" name="button" type="submit" class="btn btn-danger" onclick='window.location = "@Url.Action("DeleteAccount", "Home")"'>Delete account</button>
                </center>
            </div>
        </td>

    </tr>
</table>